@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@theme {
  --color-primaryCol-100: #ffffff;
  --color-searchInputCol-100: #F6F6F6;
  --color-textColor-100: #807D7E;
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

